<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title>Google Maps Multiple Markers</title>
  <script src="http://maps.google.com/maps/api/js?sensor=false"
          type="text/javascript"></script>
</head>

<body>
  <div>
    <input type="hidden" id="myVar" name="variable" value="{{ mylocations }}">
    <input type="hidden" id="lat" name="variable" value="{{ lat }}">
    <input type="hidden" id="lng" name="variable" value="{{ lng }}">

  </div>

  <div id="map" style="width: 1800px; height: 900px;"></div>

  <script type="text/javascript">
  //  var locations = [
  //    ['Bondi Beach', -33.890542, 151.274856],
  //    ['Coogee Beach', -33.923036, 151.259052],
  //    ['Cronulla Beach', -34.028249, 151.157507],
  //    ['Manly Beach', -33.80010128657071, 151.28747820854187],
  //    ['Maroubra Beach', -33.950198, 151.259302]
  //  ];

    // locations = [0 d.formatted_address, 1 d.lat, 2 d.lng, 3 d.damagetype.desc, 4 d.pk, 5 d.damagestatus.desc, 6 d.entry_date]
    l = document.getElementById("myVar").value;
    locations = {{ mylocations|safe }}
    lat = {{ lat|safe }}
    lng = {{ lng|safe }}
    //alert(locations);
    //alert(l);
    var contentString;

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 4,
      //center: new google.maps.LatLng(-33.92, 151.25)
      center: new google.maps.LatLng(lat, lng),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow({
         maxWidth: 300
  });

    var marker, i;


    for (i = 0; i < locations.length; i++) {
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map
      });



      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          contentString = 'Διεύθυνση : ' + locations[i][0] + '<br />' +
                          'Ημερομηνία : ' + locations[i][6] + "<br />" +
                          'Είδος : ' + locations[i][3] + "<br />" +
                          'Status : ' + locations[i][5];
          infowindow.setContent(contentString);
          infowindow.open(map, marker);

        }
      })(marker, i));

       google.maps.event.addListener(marker, 'dblclick', (function(marker, i) {
        return function() {
          var url = "{% url 'damage-by-id' pk=999999 %}";
          //infowindow.setContent('karanasos');
          //infowindow.open(map, marker);
          var id = locations[i][4];
          //document.location.href = url.replace('999999', id);
          window.open(url.replace('999999', id));
        }
      })(marker, i));


    }
  </script>
</body>
</html>


