<!-- templates/registration/login.html -->
{% load widget_tweaks %}
{% load static %}


<html lang="el">
  <head>

    {% load staticfiles %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ general.deya_name }} - BΛΑΒΕΣ </title>
    <meta name="description" content="ΒΛΑΒΕΣ"/>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
    <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="{% static 'damage/bootstrap-4.1.1-dist/css/bootstrap.min.css' %}" >
    <!--<link href="css/font-awesome.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="{% static 'damage/font-awesome-4.7.0/css/font-awesome.min.css' %}" >
    <!--<link href="styles/frontpage.css" rel="stylesheet">-->
    <link href="{% static 'styles/frontpage.css' %}" rel="stylesheet">


  </head>
  <body id="top">

  <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">

              <nav class="nav nav-masthead">
                {% include 'damage/menus/top-right.html' %}
              </nav>
            </div>
          </div>
          <form method="post">
              {% csrf_token %}

            <div class="form-group col-md-8"  >
                  <h1 class="lead cover-copy">ΕΠΙΚΟΙΝΩΝΕΙΣΤΕ ΜΕ ΤΗ ΔΕΥΑ</h1>
                  <!--<p class="lead cover-copy">Kαταχωρείστε UserName και Password για να Προχωρήσετε</p>-->


                  <div class="form-group row">
                        <label for="label" >Ονοματεπώνυμο</label>
                        {% render_field form.name class="form-control" placeholder="" %}
                  </div>
                  <div class="form-group row">
                        <label for = "{{ form.email.id_for_label }}" >E-Mail</label>
                        {% render_field form.email class="form-control" placeholder="" %}

                  </div>
                  <div class="form-group row">
                        <label for = "{{ form.thl.id_for_label }}" >Τηλέφωνα Επικοινωνίας</label>
                        {% render_field form.thl class="form-control" placeholder="" %}

                  </div>
                  <div class="form-group row">
                        <label for = "{{ form.com.id_for_label }}" >Κείμενο για τη ΔΕΥΑ</label>
                        {% render_field form.com class="form-control" placeholder="" %}

                  </div>
                  <br/>


                  <p class="lead">
                    <button type="submit" class="btn btn-lg btn-default btn-notify " name="guest"
                            data-toggle="modal" data-target="#subscribeModal__"
                            style="width: 250px !important;">Αποστολή</button>

                    <a  role="button" class="btn btn-lg btn-default btn-outline-dark " onClick="javascript:history.go(-1);"
                       style="width: 250px !important;">Επιστροφή</a>
                  </p>

            </div>

          </form>



          <div class="mastfoot">
            <div class="inner">
              <p>&copy; Developed and Designed by : <a href="https://templateflip.com/" target="_blank">Kostas Karanasos</a>.</p>
            </div>
          </div>
          <div class="modal fade" id="subscribeModal" tabindex="-1" role="dialog" aria-labelledby="subscribeModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="subscribeModalLabel">Get Notified on Launch:</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="form-group">
                      <label for="recipient-name" class="form-control-label">Enter you e-mail to get notified when we launch</label>
                      <input type="text" class="form-control" id="recipient-name" placeholder="your-name@example.com">
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default">Subscribe</button>
                </div>
              </div>
            </div>
        </div>
      </div>
  </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>-->
    <script src="{% static 'damage/bootstrap-4.1.1-dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'scripts/main.js' %}"></script>
  </body>
</html>