{% extends 'damage/menus/sidebarmenu.html' %}

{% load widget_tweaks %}
{% load static %}




{% block title %} {{ general.deya_name }} - STATUS ΒΛΑΒΩΝ{% endblock %}

{% block body %}

<div class="container-fluid">
    <h3 class="header-criteria" > ΔΙΑΧΕΙΡΙΣΗ ΜΥΝΗΜΑΤΩΝ  </h3>

    <div class="container-fluid" >
        <h6 class="header-table" >ΣΤΟΙΧΕΙΑ ΜΥΝΗΜΑΤΟΣ</h6>
        <table class="table table-striped table-bordered table-hover " id="mastertable" >
            <thead class="thead-light">
                <tr>
                    <th scope="col" width="10%"><a>Ημερομηνία</a>
                    </th>
                    <th scope="col"width="15%"><a>Ονοματεπώνυμο</a>
                    </th>
                    <th scope="col" width="15%"><a> E-Mail </a>
                    </th>
                    <th scope="col" width="10%"><a>Τηλέφωνο</a>
                    </th>
                    <th scope="col"><a>Μύνημα</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a href="#">{{ contact.entry_date | date:'d/m/Y H:i' }} </a>
                    </td>
                    <td>
                        <a href="#">{{ contact.name }} {{ damage.firstname }}</a>
                    </td>
                    <td>
                        <a href="#">{{ contact.email }} </a>
                    </td>
                    <td>
                        <a href="#">{{ contact.thl }} </a>
                    </td>
                    <td>
                        <a href="#">{{ contact.com }} </a>
                    </td>
                </tr>
            </tbody>
        </table>


        <h6 class="header-table" >ΚΑΤΑΧΩΡΗΣΗ ΑΠΑΝΤΗΣΕΩΝ ΜΥΝΗΜΑΤΟΣ</h6>
        <form method="post"  enctype="multipart/form-data" onsubmit="return validateForm()">
        {% csrf_token %}
            <div class="form-row">

                <div class="col-sm-6 form-group" >
                     <label for="label" >Απάντηση</label>
                     {% render_field form.com class="form-control" maxlength="1000" %}

                </div>

                <div class="col-sm-6 form-group" >
                     <label>Παρατηρήσεις για τη ΔΕΥΑ</label>
                     {% render_field form.deyacom class="form-control"  maxlength="500" %}
                </div>

            </div>

            <div class="form-group row"  >

                <div class="p-1 mt-1 mb-1 col-sm-2" align="center">
                    <button type="submit" class="btn btn-outline-success btn-shadow btn-round has-icon has-icon-nofloat btn-block"
                            name="save" data-delay='{"show":"800", "hide":"200"}' data-toggle="tooltip"
                            data-placement="top" title="Ο Αποστολέας του Μυνήματος θα Ειδοποιηθεί με e-mail για την Απάντηση !">
                        <i class="fa fa-save" aria-hidden="true"></i><div>Αποθήκευση</div>
                    </button>
                </div>
                <div class = "col-sm-1"></div>
                <div class="p-1 mt-1 mb-4 col-sm-2">
                    <button type="button" class="btn btn-outline-danger btn-shadow btn-round has-icon has-icon-nofloat btn-block"
                            onClick="javascript:history.go(-1);">
                        <i class="ion ion-arrow-return-left"></i><div>Επιστροφή</div>
                    </button>

                </div>

            </div>



        </form>

        <h6 class="header-table" >ΙΣΤΟΡΙΚΟ AΠΑΝΤΗΣΕΩΝ ΤΟΥ ΜΥΝΗΜΑΤΟΣ</h6>
        <table class="table table-striped table-bordered table-hover " id="detailtable" >
            <thead class="thead-light">
                <tr>
                    <th scope="col" width="10%"><a>Ημερομηνία</a></th>
                    <th scope="col" ><a>Απάντηση</a></th>
                    <th scope="col" width="30%"><a> Παρατηρήσεις </a></th>
                    <th scope="col" width="10%"><a> Χρήστης </a></th>
                </tr>
            </thead>
            <tbody>
                {% for contact in contact_list %}

                <tr>
                    <td>
                        <a >{{ contact.entry_date | date:'d/m/Y H:i' }} </a>
                    </td>
                    <td>
                         <a >{{ contact.com }} </a>
                        </td>
                    <td>
                        <a >{{ contact.deyacom  }} </a>
                    </td>
                    <td>
                        <a >{{ contact.user  }} </a>
                    </td>

                </tr>

                {% endfor %}
            </tbody>

        </table>




    </div>



</div>

{% endblock %}