
<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>

    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" name="viewport">
    <title>{{ general.deya_name }} &mdash; Dashboard</title>


    <script  src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="{% static 'damage/bootstrap-4.1.1-dist/js/bootstrap.min.js' %}"></script>


    <link rel="stylesheet" href="{% static 'damage/bootstrap-4.1.1-dist/css/bootstrap.min.css' %}" >
    <link rel="stylesheet" href="{% static 'damage/font-awesome-4.7.0/css/font-awesome.min.css' %}" >
    <link rel="stylesheet" href="{% static 'stisla-admin/dist/modules/ionicons/css/ionicons.min.css' %}">





    <link rel="stylesheet" href="{% static 'stisla-admin/dist/modules/summernote/summernote-lite.css' %}">
    <link rel="stylesheet" href="{% static 'stisla-admin/dist/modules/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'stisla-admin/dist/css/demo.css' %}">
    <link rel="stylesheet" href="{% static 'stisla-admin/dist/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'stisla-admin/dist/modules/toastr/build/toastr.min.css' %}">
    <link rel="stylesheet" href="{% static 'damage/mystyle.css' %}">
</head>

<body>

  <div id="app">
    <div class="main-wrapper">

      <div class="navbar-bg"></div>
      <nav class="navbar navbar-expand-lg main-navbar">
        <form class="form-inline mr-auto">
          <ul class="navbar-nav mr-3">
            <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="ion ion-navicon-round"></i></a></li>
            <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i class="ion ion-search"></i></a></li>
          </ul>
          <div class="search-element">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
            <button class="btn" type="submit"><i class="ion ion-search"></i></button>
          </div>
        </form>

        <ul class="navbar-nav navbar-right">

            <li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown" class="nav-link notification-toggle nav-link-lg beep"><i class="ion ion-android-mail"></i></a>
                <div class="dropdown-menu dropdown-list dropdown-menu-right">
                  <div class="dropdown-header">Τελευταία 10 Μυνήματα

                  </div>

                  <div class="dropdown-list-content">

                  {% for contact in lastcontacts %}

                    <a href="{%  url 'contact-management' pk=contact.id %}" target="_blank" class="dropdown-item dropdown-item-unread">

                      {{ contact.name }}
                      <div class="dropdown-item-desc">
                        {{ contact.com }}
                        <div class="time">{{ contact.entry_date | date:'d/m/Y H:i' }}</div>
                      </div>
                    </a>

                  {% endfor %}

                  </div>
                </div>
            </li>

          <li class="dropdown">
              <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg fa fa-user">
                <i class="ion ion-android-person d-lg-none"></i>
                <div class="d-sm-none d-lg-inline-block">
                    {% if user.is_authenticated %}
                        {{ user.username }}
                    {% else %}

                    {% endif %}
                </div>
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                  <a href="{% url 'login' %}" class="dropdown-item has-icon">
                    <i class="ion ion-android-person"></i> Αλλαγή Χρήστη
                  </a>
                  <a href="{% url 'logout' %}" class="dropdown-item has-icon">
                    <i class="ion ion-log-out"></i> Απόσύνδεση
                  </a>
              </div>
          </li>

        </ul>
      </nav>


      <div class="main-sidebar">
        <aside id="sidebar-wrapper">
          <div class="sidebar-brand">
            <a href="#">{{ general.deya_name }}</a>
          </div>

          <div class="sidebar-user">
            <div class="sidebar-user-picture">
              <img alt="image" src="{% static 'damage\images\b.png' %}">
            </div>
            <div class="sidebar-user-details">
              <div class="user-name">E-Bλάβες</div>
            </div>
          </div>

          <ul class="sidebar-menu">
            <li class="menu-header">Διαχείριση</li>
            <li class="active">
              <a href="{% url 'index-deya' %}"><i class="fa fa-cog"></i><span>Κεντρικό Μενού</span></a>
            </li>

            <li class="menu-header">Eπιλογές</li>

            <li>
              <a href="#" class="has-dropdown"><i class="fa fa-bold" aria-hidden="true"></i><span>Βλάβες</span></a>
              <ul class="menu-dropdown">
                <li><a href="{% url 'damage-add' %}"><i class="ion-android-add-circle"></i> Νέα λάβη</a></li>
                <li><a href="{% url 'damage-list-criteria' %}"><i class="fa fa-binoculars" aria-hidden="true"></i> Προβολή Βλαβών</a></li>
              </ul>
            </li>

            <li>
              <a href="#" class="has-dropdown"><i class="ion ion-android-mail"></i><span>Μυνήματα</span></a>
              <ul class="menu-dropdown">
                <li><a href="{% url 'contact-list-criteria' %}"><i class="fa fa-envelope-open" aria-hidden="true"></i> Προβολή Μηνημάτων</a></li>
                <li><a href="../../stisla-admin/templates/fontawesome.html"><i class="fa fa-align-left"></i> Προβολή με Ιστορικό</a></li>
                <li><a href="../../stisla-admin/templates/flag.html"><i class="ion ion-ios-circle-outline"></i> Flag</a></li>
              </ul>
            </li>
            <li>
              <a href="#" class="has-dropdown"><i class="ion ion-stats-bars"></i><span>Charts</span></a>
              <ul class="menu-dropdown">
                <li><a href="{% url 'chart-bar-eidos' %}"><i class="fa fa-envelope-open" aria-hidden="true"></i>Είδος Βλάβης #</a></li>
                <li><a href="../../stisla-admin/templates/fontawesome.html"><i class="ion ion-ios-circle-outline"></i> Font Awesome</a></li>
                <li><a href="../../stisla-admin/templates/flag.html"><i class="ion ion-ios-circle-outline"></i> Flag</a></li>
              </ul>
            </li>
            <li>
              <a href="../../stisla-admin/templates/table.html"><i class="ion ion-clipboard"></i><span>Tables</span></a>
            </li>
            <li>
              <a href="../../stisla-admin/templates/chartjs.html"><i class="ion ion-stats-bars"></i><span>Chart.js</span></a>
            </li>
            <li>
              <a href="../../stisla-admin/templates/simple.html"><i class="ion ion-ios-location-outline"></i><span>Google Maps</span></a>
            </li>
            <li>
              <a href="#" class="has-dropdown"><i class="ion ion-ios-copy-outline"></i><span>Examples</span></a>
              <ul class="menu-dropdown">
                <li><a href="../../stisla-admin/templates/login.html"><i class="ion ion-ios-circle-outline"></i> Login</a></li>
                <li><a href="../../stisla-admin/templates/register.html"><i class="ion ion-ios-circle-outline"></i> Register</a></li>
                <li><a href="../../stisla-admin/templates/forgot.html"><i class="ion ion-ios-circle-outline"></i> Forgot Password</a></li>
                <li><a href="../../stisla-admin/templates/reset.html"><i class="ion ion-ios-circle-outline"></i> Reset Password</a></li>
                <li><a href="../../stisla-admin/templates/404.html"><i class="ion ion-ios-circle-outline"></i> 404</a></li>
              </ul>
            </li>

            <li class="menu-header">More</li>
            <li>
              <a href="#" class="has-dropdown"><i class="ion ion-ios-nutrition"></i> Click Me</a>
              <ul class="menu-dropdown">
                <li><a href="#"><i class="ion ion-ios-circle-outline"></i> Menu 1</a></li>
                <li><a href="#" class="has-dropdown"><i class="ion ion-ios-circle-outline"></i> Menu 2</a>
                  <ul class="menu-dropdown">
                    <li><a href="#"><i class="ion ion-ios-circle-outline"></i> Child Menu 1</a></li>
                    <li><a href="#"><i class="ion ion-ios-circle-outline"></i> Child Menu 2</a></li>
                    <li><a href="#" class="has-dropdown"><i class="ion ion-ios-circle-outline"></i> Child Menu 3</a>
                      <ul class="menu-dropdown">
                        <li><a href="#"><i class="ion ion-ios-circle-outline"></i> Child Menu 1</a></li>
                        <li><a href="#"><i class="ion ion-ios-circle-outline"></i> Child Menu 2</a></li>
                        <li><a href="#"><i class="ion ion-ios-circle-outline"></i> Child Menu 3</a></li>
                      </ul>
                    </li>
                    <li><a href="#"><i class="ion ion-ios-circle-outline"></i> Child Menu 4</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <a href="#"><i class="ion ion-heart"></i> Badges <div class="badge badge-primary">10</div></a>
            </li>
            <li>
              <a href="../../stisla-admin/templates/credits.html"><i class="ion ion-ios-information-outline"></i> Credits</a>
            </li>
          </ul>
          <div class="p-3 mt-4 mb-4">
            <a href="http://stisla.multinity.com/" class="btn btn-danger btn-shadow btn-round has-icon has-icon-nofloat btn-block">
              <i class="ion ion-help-buoy"></i> <div>Go PRO!</div>
            </a>
          </div>
        </aside>
      </div>

      <div class="main-content">
        <section class="section">

            {% block body %}
            {% endblock %}



        </section>
      </div>
      <footer class="main-footer">
        <div class="footer-left">
          Copyright &copy; 2018 <div class="bullet"></div> Design By <a href="#">Kostas Karanasos</a>
        </div>
        <div class="footer-right"></div>
      </footer>
    </div>
  </div>

  <script src="{% static 'stisla-admin/dist/modules/tooltip.js' %}"></script>

  <script src="{% static 'stisla-admin/dist/modules/nicescroll/jquery.nicescroll.min.js' %}"></script>
  <script src="{% static 'stisla-admin/dist/modules/scroll-up-bar/stisla-admin/dist/scroll-up-bar.min.js' %}"></script>
  <script src="{% static 'stisla-admin/dist/js/sa-functions.js' %}"></script>


  <script src="{% static 'stisla-admin/dist/js/scripts.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
  <script src="{% static 'stisla-admin/dist/modules/summernote/summernote-lite.js' %}"></script>


  <script src="{% static 'stisla-admin/dist/modules/toastr/build/toastr.min.js' %}"></script>

  <script src="{% static 'stisla-admin/dist/js/custom.js' %}"></script>
  <script src="{% static 'stisla-admin/dist/js/demo.js' %}"></script>


</body>
</html>