

<a class="nav-link nav-social" href="{% url 'frontpage' %}"><i class="fa fa-home" aria-hidden="true" title="Αρχική Σελίδα"></i></a>
<a class="nav-link nav-social" href="{% url 'contact' %}"><i class="fa fa-commenting-o" aria-hidden="true" title="Σελίδα Επικοινωνίας"></i></a>
<a class="nav-link nav-social" href="mailto:karanasoskostas@yahoo.com"><i class="fa fa-envelope" aria-hidden="true" title="Ε-Μail"></i></a>
<a class="nav-link nav-social" href="{% url 'login' %}"><i class="fa fa-user" arφρομ ia-hidden="true" title="Εισοδος Χρηστών Εφαρμογής"></i></a>